<a href="@(Href)" class="rounded-[0.75rem] bg-slate-100 p-4 pb-2 text-left shadow ring-blue-500 transition-all duration-75
                         ease-in-out hover:z-10 hover:scale-105 hover:shadow-md hover:ring-2">
    <div class="mb-2 flex flex-nowrap gap-1 font-bold">
        <img src="@(ImgSrc)" alt="@(ImgAlt)" class="h-5 self-center mr-0.5" />
        <p class="self-center">
            @(Title)
        </p>
    </div>
    <p class="mb-2 text-sm">
        @(Body)
    </p>
    <div class="flex flex-nowrap justify-end gap-1">
        @(ChildContent)
    </div>
</a>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string ImgSrc { get; set; } = string.Empty;
    [Parameter] public string ImgAlt { get; set; } = string.Empty;
    [Parameter] public string Title { get; set; } = string.Empty;
    [Parameter] public string Body { get; set; } = string.Empty;
    [Parameter] public string Href { get; set; } = "/";
}